.app-container {
  height: 100vh;
  width: 100vw;
  background-color: #1e1e1e;
  color: #e0e0e0;
  font-family: "Inter", sans-serif;
}

.canvas-layout {
  display: flex;
  height: 90vh;
}

.canvas-layout > * {
  margin: 0;
}
